
.seccion__cards{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    overflow-y: scroll;
    padding-left: 15px;
}


/* SCROLLBAR */
.seccion__cards::-webkit-scrollbar{
    width: 15px;
    border-radius: 5px;
    background-color: rgba(115, 103, 103, 0.072);
}

.seccion__cards::-webkit-scrollbar-button:single-button{
    display: none;
}

.seccion__cards::-webkit-scrollbar-thumb{
    background-color:  rgba(255, 255, 255, 1);
    border-radius: 3px;
}


.seccion__card{
    width: 340px;
    font-size: 14px;
    margin:10px;
    padding: 10px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.seccion__card--background{
    filter: brightness(51%);
    background-color: rgba(0, 0, 0, 0.284);
}

.seccion__content--user{
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.seccion__button{
    background-color: transparent;
    border: none;
    width: 28px;
    cursor: pointer;
} 

.seccion__button svg{
    border-radius: 50%;
    color: #000000;
    font-size: 25px;  
}


.seccion__content--data{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-flow: column nowrap;
    padding:  0 10px;
    overflow: hidden;
}


.seccion__user--title:first-letter, .seccion__user--id:first-letter {
    text-transform: capitalize;
}

.seccion__user--id{
    align-self: flex-end;
    color: rgb(138, 138, 138);
    font-style: italic;
}


/* MEDIA QUERYS */

@media only screen and (max-width: 490px) {
    .seccion__card{
        height: 200px;
        flex-flow: column nowrap;
    }
    .seccion__content--user{
        flex-flow: row nowrap;
        justify-content: space-between;
        height: unset
    }

    .seccion__cards{
        width: 90%;
      
    }
}

