.footer{
    width: 100%;
    height: var(--footer-height);
    display: flex;
    justify-content: center;
    border-top: 1px solid white;
}

.footer__menu{
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    color:white;
    list-style: none;
}