.hide__container{
    width: 40%;
    height: 100vh;
    background-color: rgba(37, 58, 104, 0.1);
    position: absolute;
    top: 0;
    left: -2px;
    z-index: 100;
    display: flex;
    flex-flow: column nowrap;
    backdrop-filter: blur(27px);
    border-left: 1px solid rgba(0, 0, 0, 0.8);
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.362);
}



.hide__icon{
    color:white;
    font-size: 27px;
    margin: 10px 12px 0 12px;
    align-self: flex-end;
}
 
@media only screen and (min-width: 482px ) and (max-width: 767px){
    .hide__container{
        width: 40%;
    }
}

@media only screen and (max-width: 482px ){
    .hide__container{
        width: 60%;
    }
}