@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* COLORS */
    --primary-light: #FFFFFF;
    --secondary-light: #d47ca4;
    --tertiary-light: #18D359;
    --primary-dark: #1b1b1b;
    --secondary-dark: brown;
    --tertiary-dark: brown;

    /* SIZES */
    --footer-height: 60px;
    --navbar-height: 60px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 100%;
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: rgb(210,102,188);
    background: linear-gradient(315deg, rgb(224, 174, 214) 0%, rgba(93,133,212,1) 100%);
}