:root {
    --primary-light: #FFFFFF;
    --secondary-light: #d47ca4;
    --tertiary-light: #18D359;
    --primary-dark: #1b1b1b;
    --secondary-dark: brown;
    --tertiary-dark: brown;
  }


.menu{
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: #ffffff0c;
}

.menu__container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;  
    padding: 0 25px;
    font-weight: 400;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.056);
}

.menu__title{
    flex: 3;
    font-family: 'Averia Serif Libre', cursive;
    color: var(--primary-light);
}

.menu__list{ 
    flex: 1;
    list-style: none;
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}


.menu__item {
    text-transform:uppercase;
    padding: 10px;
    margin: 5px;
}

.menu__item:hover{
    font-weight: 500;
}


.menu__link{
    color: var(--primary-light);
    text-decoration: none;
}
