.seccion__indivualCard{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.seccion__noCard{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
}

.article__container{
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 230px;
    border-radius: 5px;
   
}

.article__massage--user{
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
