.seccion__posts{
    width: 100%;
    height: calc(100vh - var(--footer-height));
    padding-top: var(--navbar-height);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
   
}

.seccion__cards{
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
    overflow-y: scroll;
    background: linear-gradient(42deg, rgba(233,233,233,0.2) 0%, rgba(255,255,255,0.3) 21%, rgba(255,255,255,0.2) 78%, rgba(233,233,233,0.2) 100%);
}


.seccion__card{
    margin: 5px;
    padding: 5px;
    width: 350px;
    min-height: 100px;
    border: 1px solid black;
}

.seccion__indivualCard{
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}