.seccion{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.seccion__dashboard{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 0 10px;
}

.seccion__title{
    font-family: 'Averia Serif Libre', cursive;
    color: var(--primary-light);
    font-weight: 600;
    font-size: 25px;
    width: 25%;
}


.seccion__image{
    margin:0 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: rgba(233,233,233, 1);
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
}

.seccion__container{
    width: 70%;
    height: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-bottom: 10px;
}

.seccion__posts{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.071);
    border-radius: 5px;
}


   
   
  
