.sidebar{
    width: 20%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    background: linear-gradient(355deg, rgba(233,233,233,0.1825105042016807) 0%, rgba(255,255,255,0.03) 20%, rgba(255,255,255,0.03) 78%, rgba(233,233,233,0.22452731092436973) 100%);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.277);
    box-shadow: 0px 5px 10px rgba(255, 255, 255, .2) inset ;
}

.sidebar__list{
    height: 100%;
    list-style: none;
    padding: 10px;
}

.sidebar__link{
    margin-left: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-light);
    cursor: unset; 
}

.sidebar__list--config{
    width: 100%;
    list-style: none;
    padding: 0 10px;
}

.sidebar__icon{
    font-size: 20px;
    
}

.sidebar__item{
    text-transform:uppercase;
    padding: 10px;
    font-size: 14px;
    color: var(--primary-light);
    cursor: pointer;
}

.sidebar__item:hover{
    text-shadow: 0px 2px 8px rgba(255, 255, 255, 0.7);
    transition: .3s;
}

/* MEDIA QUERYS */
@media only screen and (max-width: 1200px) {
    .sidebar{
        width: 30%;
    }
}
